# 1. What are the characteristics of the tuples? Is tuple immutable?

charcteristics of tuple ---->
1. we can iterate through the tuple by using loop function . 

2. we can store maximum elements we want to store in tuples 

3.tuples are immutable . we can't do any mutation function with tuples 

4.tuples can store any type of data like int , float and string and even complex data and also it can hold data structures like list , dictionaries , sets too .

5.with tuples we can also do the indexing and slicing operation . where the first index starts with 0 and from the last , very first index is -1

yes tuples are immutable . we can not do any type of mutation of in tuples

# 2.What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

tuples have only two method  
1 is count and other is index

In [1]:
# count method
a= (1,2,3,45,5,6,7,'krish' , 'rohan' , True , False)

In [2]:
a.count(1) # here when we count 1 then it's also considering True as 1 because bool(True) = 1

2

In [3]:
# in same way false will be consider as 0 in count method 
a.count(False)

1

In [4]:
a.count(5)

1

In [5]:
#index method 
a.index(5)

4

In [6]:
a.index(1)

0

In [7]:
a.index(True) # will consider 1 as True and 0 as False

0

why tuples have only two built in method ---->>> i generally think that the reason behind it is that tuples are immutable . and due to its immutability we can not apply more methods on tuples .

while list are mutable that makes it different than tuple due to it's mutability factor i think list have more methods than tuple .

# Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove 
duplicates from the given list.

set is the data structure that doen't allow the characters/items or duplicate eliments even if we pass the input with dupicate items it will remove the duplicates value and make only a collection of unique elements/items and character .

In [9]:
# lets make a list with duplicate value 
l =[12,12,34,34,55,55,65,65,67,67,76,76,67,88,88,88,99]

In [10]:
l

[12, 12, 34, 34, 55, 55, 65, 65, 67, 67, 76, 76, 67, 88, 88, 88, 99]

In [11]:
# lets convert this list l to set and see how it removes the duplicate values 
s1 = set(l)

In [12]:
s1 # only the unique values are taken in sets thats how sets removes the duplicates

{12, 34, 55, 65, 67, 76, 88, 99}

In [13]:
s= {12,12,13,34,35,55,36,77,77,54,54,54,33,36,12,12}

In [14]:
s # remove the dupliactes and return the

{12, 13, 33, 34, 35, 36, 54, 55, 77}

In [16]:
Lst = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [18]:
set1 = set(Lst)

In [19]:
set1

{1, 2, 3, 4}

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

In [20]:
s2 = {1,2,3,4,5,6,6,6,7,8,8,9,9,5,4,3,35,6,5,5}
s3 = {23,22,44,12,1,2,3,4,8,8,9,0,3,4,2,4,4,4}

In [23]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 35}

In [22]:
s3

{0, 1, 2, 3, 4, 8, 9, 12, 22, 23, 44}

In [24]:
s2.union(s3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 22, 23, 35, 44}

union() method ---->>> as we can see above that union() method make a set wuth all the unique values taken from the s2 and s3 and all the values are unique means there are no duplicate values. if both the set have some same values/element then it will take only one element . but union() method will not permanent store the elements of s3(inplace = False)

In [25]:
s2.update()

In [27]:
s2.update(s3)

In [28]:
s2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 22, 23, 35, 44}

update() method ----->> like the union() method update function also add the elements of s3 in s2 but unlike the union method where inplace = False means values were not permanently stored but in update() method values/ elemenets are permanantely stored in s2 and s2 is updated with the collection of both sets unique values

# . What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionary is a inbuilt data structure which holds the data in it in the form of keys and values (key-vaalue pair ) . key in the dictionary are unique and each key is having a correspondind values . dictionary are mutable data structures . if we want to fetch any data in the dictionaries then we don't use the index value but instead we fetch the data with the key name . dictionaries are mutable and we can also pass list,set,tuple,dictionaries as values but in the key we can pass only tuple as a key .

In [29]:
# let's make  a dict
dict1 = {'key':'value'}

In [30]:
dict2 = {'name':'Rohan' , 'course':'data science masters' , 'age' : 25 , 'duration' : '12 months'}

In [32]:
dict2['name'] # fetching the data by using key name

'Rohan'

In [33]:
# adding the data 
dict2['surname'] = 'kalra'

In [34]:
dict2 # surname is added

{'name': 'Rohan',
 'course': 'data science masters',
 'age': 25,
 'duration': '12 months',
 'surname': 'kalra'}

Dictionaries in python are unordered it means dictionaries don't have a speicif index as we see above we are fetching data by using the key name and not using index position . and if we iterate through the dictionaries and fetching data through iteration we may get different result each time

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary

Yes we can create a nested doctionaries we can create a nested dictionary by assigning the value as a dictionary let's see this with an example

In [35]:
# nested dictionaries 
dict1 = {'key': {'name':'rohan' , 'course':'data science' , 'institute': 'pw skills'}}

In [36]:
# so above is the example of nested dictionary 
# how to fetch the data from nested dictionary
dict1['key']['name']

'rohan'

In [37]:
# let's see if we can pass our key as a dictionary 
dict2= {{'name':'rohan' , 'course':'data science'}:'value'}

TypeError: unhashable type: 'dict'

In [38]:
# we can not pass key as a dictionary so we can create a nested dictionary by passing the value as a dictionary only .

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']



dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [39]:
dict1 = {'language':'python' ,'course':'Data scinece masters'}

In [40]:
dict1.setdefault('topic' , ['python' , 'machine learning', 'Deep learning'])

['python', 'machine learning', 'Deep learning']

In [41]:
dict1 # topic key is added to the list with the values as a list

{'language': 'python',
 'course': 'Data scinece masters',
 'topic': ['python', 'machine learning', 'Deep learning']}

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.


dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [42]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Three view objects --->>> in dictionaries the three view object are used for providing different views of the dictionaries . so three view objects basically means to fetching the keys() , values() and items() from the dictioanry to get different views of the dictioanries

In [43]:
dict1.keys() # to get all the keys in the dictionary

dict_keys(['Sport', 'Teams'])

In [44]:
dict1.values() # to get all the values in the dictionaries

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [45]:
dict1.items() # to get all the items in the dictionary

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

# Thankyou for this opportunity